.photoImgURL {
  border-radius: 50%;
  height: 45px;
  margin-top: -20px;
  border: 2px solid black;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.msg {
  display: flex;
  padding: 20px 10px 0 20px;
  margin: 20px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
}

.sent {
  background-color: #5f90a9;
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  text-align: end;
  float: right;
}

.received {
  border: 1px solid lightgray;
  background-color: #FAFAFA;
  border-top-left-radius: 1000px;
  float: left;
}

.sendMsg {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

.msgs {
  margin: 110px 0;
  display: flex;
  flex-direction: column;
}


@media (max-width: 775px) {
  p {
    font-size: 20px;
  }
  .sent {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
  .photoImgURL {
    height: 35px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  }
  .sent {
    padding: 7px 7px 0 7px;
  }
  .received {
    padding: 7px 7px 0 7px;
  }
  .photoImgURL {
    height: 30px;
    margin-top: -7px;
  }
}

/* Form */
/* *,
*::after,
*::before {
  box-sizing: border-box;
} */

body {
  background: #001933;
}

/* background */

.container {
  width: 75px;
  height: 275px;
  animation: bulb-swing 3s infinite ease-in-out;
  transform-origin: top center;
  position: absolute;
  top: 0;
  left: calc(85% - (75px / 2));
}

.container.paused {
  animation-play-state: paused;
}

.bulb {
  z-index: 10;
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: calc(50% - (75px / 2));
  background: #ffd700;
  box-shadow: 5px 5px 80px gold, 5px -5px 80px gold, -5px 5px 80px gold, -5px -5px 80px gold;
  cursor: pointer;
}
.bulb::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 50px;
  background: black;
  bottom: 100%;
  left: calc(50% - (35px / 2));
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bulb::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 250px;
  background: black;
  bottom: 100%;
  left: calc(50% - 5px);
  z-index: -1;
}
.bulb .filaments {
  display: block;
  position: absolute;
  width: 2px;
  height: 30px;
  background: black;
  top: 2px;
  left: 28px;
  box-shadow: 17px 0 black;
  opacity: 0;
}
.bulb .filaments::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 4px;
  background: black;
  width: 2px;
  height: 12px;
  display: block;
  box-shadow: 4.5px 0 black, 9px 0 black;
}

.bulb.off {
  background: transparent;
  box-shadow: none;
  border: 1px solid black;
}

.filaments.off {
  opacity: 1;
}

@keyframes bulb-swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.floor {
  position: absolute;
  background: #000c19;
  height: 200px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.floor .shadow {
  position: absolute;
  background: #524c11;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px);
  left: calc(85% - 25px);
  box-shadow: 20px 20px 100px gold, -20px 20px 100px gold, 20px -20px 100px gold, -20px -20px 100px gold;
  animation: shadow-swing 3s infinite ease-in-out;
}

.shadow.off {
  background: #000c19;
  box-shadow: none;
}

@keyframes shadow-swing {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(100px);
  }
}

/* Form */
#formContainer {
  height: 97vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inviteContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
#inviteContainer .acceptContainer {
  padding: 45px 30px;
  box-sizing: border-box;
  width: 400px;
  margin-left: -400px;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
#inviteContainer .acceptContainer.loadIn {
  opacity: 1;
  margin-left: 0;
  transition: 0.5s ease;
}
#inviteContainer .acceptContainer:before {
  content: "";
  background-size: cover !important;
  box-shadow: inset 0 0 0 3000px rgba(40, 43, 48, 0.75);
  filter: blur(10px);
  position: absolute;
  width: 150%;
  height: 150%;
  top: -50px;
  left: -50px;
}

form {
  position: relative;
  text-align: center;
  height: 100%;
}
form h1 {
  margin: 0 0 15px 0;
  font-family: "Work Sans" !important;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  left: -30px;
  position: relative;
  transition: 0.5s ease;
}
form h1.loadIn {
  left: 0;
  opacity: 1;
}

.formContainer {
  text-align: left;
}
.formContainer .formDiv {
  margin-bottom: 20px;
  left: -25px;
  opacity: 0;
  transition: 0.5s ease;
  position: relative;
}
.formContainer .formDiv.loadIn {
  opacity: 1;
  left: 0;
}
.formContainer .formDiv:last-child {
  padding-top: 10px;
  margin-bottom: 0;
}
.formContainer p {
  margin: 0;
  font-weight: 700;
  color: #aaa;
  font-size: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.formContainer input[type=password], .formContainer input[type=email] {
  background: transparent;
  border: none;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
  padding: 10px 0;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
}
.formContainer input[type=password]:focus, .formContainer input[type=email]:focus {
  box-shadow: inset 0 -2px 0 #fff;
  outline: none;
}

.logoContainer {
  padding: 45px 35px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0, 0);
}
.logoContainer img {
  width: 100px;
  margin-bottom: -5px;
  display: block;
  position: relative;
}
.logoContainer img:first-child {
  width: 150px;
}
.logoContainer .text {
  padding: 25px 0 10px 0;
  margin-top: -70px;
  opacity: 0;
}
.logoContainer .text.loadIn {
  margin-top: 0;
  opacity: 1;
  transition: 0.8s ease;
}
.logoContainer .logo {
  position: relative;
  top: -20px;
  opacity: 0;
}
.logoContainer .logo.loadIn {
  top: 0;
  opacity: 1;
  transition: 0.8s ease;
}
.logoContainer:before {
  content: "";
  background-size: cover !important;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150%;
  height: 150%;
  filter: blur(10px);
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.8);
}

.forgotPas {
  color: #aaa;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  margin-top: 15px;
  display: block;
  transition: 0.2s ease;
}
.forgotPas:hover {
  opacity: 1;
  color: #fff;
}

.acceptBtn {
  width: 90%;
  box-sizing: border-box;
  background: #7289DA;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 12px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.acceptBtn:hover {
  background: #6B7FC5;
}

.register {
  color: #aaa;
  font-size: 12px;
  padding-top: 15px;
  display: block;
}
.register a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  box-shadow: inset 0 -2px 0 transparent;
  padding-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.register a:hover {
  box-shadow: inset 0 -2px 0 #fff;
}

/* Google Button */

#login-google-button {
	display: block;
	margin-bottom: 35px;
  border: none;
  border-radius: 25px;
	color: #777278;
	font-size: 16px;
	background-color: #fff;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  outline: none;
	transition: border 0.3s ease-out;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#login-google-button:hover {
	border: none;
  background: #F0F0F0;
}

#login-google-button:disabled:hover {
	border: 2px solid #eee;
}

#login-google-button svg {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}